<!doctype html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/template}">

<div layout:fragment="app-content">
    <div class="row">
        <div class="col-sm-6">
            <h3>Not Add</h3>
            <th:block th:if="${errors != null}">
                <div th:each="item : ${errors}">
                    <div class="alert alert-danger alert-sm alert-dismissible fade show" role="alert">
                        <strong th:text="${item.getField()}"></strong> <th:block th:text="${item.getDefaultMessage()}"></th:block>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                </div>
            </th:block>
            <form action="noteSave" method="post">
                <div class="mb-3">
                    <input name="title" class="form-control" placeholder="Title" />
                </div>
                <div class="mb-3">
                    <input name="detail" class="form-control" placeholder="Detail" />
                </div>
                <div class="mb-3">
                    <input name="noteDate" type="datetime-local" class="form-control" placeholder="Date" />
                </div>
                <div class="mb-3">
                    <input name="color" type="color" class="form-control form-control-color" placeholder="Color" />
                </div>
                <button class="btn btn-success">Save</button>
            </form>
        </div>
        <div class="col-sm-6">
            <h3>Not List</h3>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Title</th>
                    <th scope="col">Detail</th>
                    <th scope="col">Date</th>
                    <th scope="col">Color</th>
                    <th scope="col">Delete</th>
                </tr>
                </thead>
                <tbody>

                <th:block th:if="${ls != null}">
                <tr th:each="item : ${ls}">
                    <th scope="row" th:text="${item.nid}"></th>
                    <td th:text="${item.title}"></td>
                    <td th:text="${item.detail}"></td>
                    <td th:text="${item.noteDate}"></td>
                    <td>
                        <div th:style="'width: 20px; height: 20px; background-color: '+${item.color}"></div>
                    </td>
                    <td>
                        <a class="btn btn-danger btn-sm" th:href="'delete/'+${item.nid}">Delete</a>
                    </td>
                </tr>
                </th:block>

                </tbody>
            </table>
        </div>
    </div>
</div>


</html>